.popup__close-button {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close_button.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0 none transparent;
    box-sizing: border-box;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media (max-width:550px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -35px;
        right: 0;
    }
}
