.profile__job {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 5px;
    max-width: 350px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 768px) {
    .profile__job {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-top: 10px;
        max-width: 250px;
    }
}
