.action__save-button {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
    padding: 0;
    border: 0 none transparent;
    margin-top: 215px;
}

.action__save-button:hover {
    opacity: 0.8;
}