.popup__form-item {
    border: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 14px;
    line-height: 17px;
    font-family: inherit;
    color: #000000;
    padding-bottom: 10px;
}

.popup__form-item:focus {
    outline: 0 solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}
