.popup__container_info-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    padding: 34px 36px 37px;
    max-width: 430px;
    position: relative;
    box-sizing: border-box;
}

@media (max-width:550px) {
    .popup__container_info-tooltip {
        max-width: 282px;
        padding: 25px 22px;
    }
}