.popup__form-error {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  display: block;
  width: 305px;
  min-height: 30px;
}

@media (max-width:550px) {
  .popup__form-error {
    max-width: 225px;
  }
}
